/ {
	buttons {
		gdo0: gdo0 {
			gpios = <&gpio0 4 (GPIO_PULL_DOWN)>;
			label = "CC1101 GD0";
		};
	};

	aliases {
		cc1101-spi = &spi1;
		cc1101-gdo0 = &gdo0;
	};
};

&spi1 {
	status = "okay";
	sck-pin = <6>;
	mosi-pin = <8>;
	miso-pin = <7>;
	cs-gpios = <&gpio0 5 0>;
};