/dts-v1/;
#include <mem.h>
#include <st/l1/stm32l151.dtsi>
#include <st/l1/stm32l151c(6-8-b)tx-pinctrl.dtsi>

/ {
	model = "Ostranna Locket";
	compatible = "st,stm32l151";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,uart-mcumgr = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	gpio_keys {
		compatible = "gpio-keys";
		gdo0: gdo0 {
			gpios = <&gpioa 3 0>;
			label = "CC1101 GD0";
		};
	};

	pwmbuzzer {
		compatible = "pwm-leds";
		buzzer: buzzer {
			pwms = <&pwm11 1 0 PWM_POLARITY_INVERTED>;
		};
	};

	pwmleds {
		// Need power on led_en for being bright
		compatible = "pwm-leds";
		pwm_led_r: pwm_led_r {
			pwms = <&pwm3 2 0 PWM_POLARITY_INVERTED>;
		};

		pwm_led_g: pwm_led_g {
			pwms = <&pwm3 4 0 PWM_POLARITY_INVERTED>;
		};

		pwm_led_b: pwm_led_b {
			pwms = <&pwm3 3 0 PWM_POLARITY_INVERTED>;
		};
	};

	leds {
		compatible = "gpio-leds";
		led_en: led_en {
			gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
			label = "LED voltage stabilizer";
		};
	};

	aliases {
		cc1101-spi = &spi1;
		cc1101 = &cc1101;
		cc1101-gdo0 = &gdo0;

		led-r = &pwm_led_r;
		led-g = &pwm_led_g;
		led-b = &pwm_led_b;
		led-en = &led_en;

		eeprom = &eeprom;

		buzzer = &buzzer;
	};

	sram0: memory@20000000 {
		reg = <0x20000000 DT_SIZE_K(10)>;
	};

	soc {
		flash-controller@40023c00 {
			flash0: flash@8000000 {
				reg = <0x08000000 DT_SIZE_K(64)>;
			};
		};

		eeprom: eeprom@8080000{
			reg = <0x08080000 DT_SIZE_K(4)>;
		};
	};
};

&usart1 {
	current-speed = <115200>;
	status = "okay";
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
};

&eeprom {
	status = "okay";
};

// CC1101
&spi1 {
	cs-gpios = <&gpioa 4 0>;
	pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7>;
	status = "okay";
	cc1101: spi-dev@0 {
		reg = <0>;
	};
};

&rtc {
	status = "okay";
};

&rcc {
	status = "okay";
};

&timers3 {
	status = "okay";

	pwm3: pwm {
		status = "okay";
		pinctrl-0 = <&tim3_ch2_pb5 &tim3_ch4_pb1 &tim3_ch3_pb0>;
	};
};

&timers11 {
	status = "okay";

	pwm11: pwm {
		status = "okay";
		pinctrl-0 = <&tim11_ch1_pb15>;
	};
};
