/dts-v1/;
#include <nordic/nrf52832_qfaa.dtsi>

/ {
	// See hardware info, spec and blueprints here https://github.com/Kreyl/firefly_hw
	// Specifically, https://github.com/Kreyl/Firefly_hw/blob/master/PCB/Gerber/FireFly_SCH.pdf
	model = "Firefly board";
	compatible = "nordic,nrf52832-qfaa", "nordic,nrf52832";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	pwmleds {
		// Need power on 22 for being bright
		compatible = "pwm-leds";
		pwm_led_r: pwm_led_r {
			pwms = <&pwm0 17>;
		};

		pwm_led_g: pwm_led_g {
			pwms = <&pwm0 20>;
		};

		pwm_led_b: pwm_led_b {
			pwms = <&pwm0 19>;
		};
	};

	pwmbuzzer {
		compatible = "pwm-leds";
		buzzer: buzzer {
			pwms = <&pwm1 30>;
		};
	};

	leds {
		compatible = "gpio-leds";
		led_en: led_en {
			gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
			label = "LED voltage stabilizer";
		};

		eeprom_en: eeprom_en {
			gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
			label = "EEPROM power";
		};
	};

	buttons {
		compatible = "gpio-keys";
		gdo0: gdo0 {
			gpios = <&gpio0 4 (GPIO_PULL_DOWN)>;
			label = "CC1101 GD0";
		};

		button_1: button_1 {
			gpios = <&gpio0 23 (GPIO_PULL_DOWN)>;
			label = "CC1101 GD0";
		};

		button_2: button_2 {
			gpios = <&gpio0 24 (GPIO_PULL_DOWN)>;
			label = "CC1101 GD0";
		};
	};

	aliases {
		cc1101-spi = &spi1;
		cc1101-gdo0 = &gdo0;

		led-r = &pwm_led_r;
		led-g = &pwm_led_g;
		led-b = &pwm_led_b;
		led-en = &led_en;

		buzzer = &buzzer;

		eeprom = &eeprom;
		eeprom-en = &eeprom_en;
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&uart0 {
	status = "okay";
	compatible = "nordic,nrf-uart";
	current-speed = <115200>;
	tx-pin = <2>;
	rx-pin = <3>;
};

// EEPROM
// Needs power on 16
&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	sda-pin = <14>;
	scl-pin = <15>;
	clock-frequency = <I2C_BITRATE_FAST>;

	// Datasheet: https://www.terraelectronica.ru/pdf/show?pdf_file=%252Fds%252Fpdf%252FM%252Fm24256-bw.pdf
	eeprom: eeprom@50 {
		compatible = "atmel,at24";
		// 1010 (type identifier code) 000 (A0-A2 pins are connected to the ground)
		reg = <0x50>;
		label = "EEPROM";
		size = <DT_SIZE_K(32)>;
		pagesize = <64>;
		address-width = <8>;
		timeout = <5>;
	};
};

// Pill
&i2c1 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	sda-pin = <12>;
	scl-pin = <13>;
	// Needs power on 11
};

// LEDs
&pwm0 {
	status = "okay";
	ch0-pin = <17>;
	ch0-inverted;
	ch1-pin = <20>;
	ch1-inverted;
	ch2-pin = <19>;
	ch2-inverted;
};

// Buzzer
&pwm1 {
	status = "okay";
	ch3-pin = <30>;
};

// CC1101
&spi1 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	sck-pin = <6>;
	mosi-pin = <8>;
	miso-pin = <7>;
	cs-gpios = <&gpio0 5 0>;
};

&flash0 {
	/*
	 * For more information, see:
	 * http://docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0xc000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000C000 0x32000>;
		};
		slot1_partition: partition@3e000 {
			label = "image-1";
			reg = <0x0003E000 0x32000>;
		};
		scratch_partition: partition@70000 {
			label = "image-scratch";
			reg = <0x00070000 0xa000>;
		};
		storage_partition: partition@7a000 {
			label = "storage";
			reg = <0x0007a000 0x00006000>;
		};
	};
};
