if BOARD_FIREFLY_V1

config BOARD
	default "firefly_v1"

config ADC_0
	default y
	depends on ADC

config I2C_0
	default y
	depends on I2C

config PWM_0
	default y
	depends on PWM

if SPI

config SPI_1
	default y

endif # SPI

config BT_CTLR
	default BT

endif # BOARD_FIREFLY_V1
