// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html

// Free pins to be used by the keyboard
&uart1 {
  status = "disabled";
};
// Free pins to be used by the keyboard
&spi1 {
  status = "disabled";
};

&arduino_spi {
	mfrc522: spi-dev@0 {
		reg = <0>;
	};
};

/ {
  keyboard {
    compatible = "gpio-keys";
    in1: in1 {
      gpios = <&gpio1 2 0>;
      label = "IN1";
    };

    in2: in2 {
      gpios = <&gpio1 3 0>;
      label = "IN2";
    };

    in3: in3 {
      gpios = <&gpio1 4 0>;
      label = "IN3";
    };

    out1: out1 {
      gpios = <&gpio1 5 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
      label = "OUT1";
    };

    out2: out2 {
      gpios = <&gpio1 6 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
      label = "OUT2";
    };

    out3: out3 {
      gpios = <&gpio1 7 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
      label = "OUT3";
    };

    out4: out4 {
      gpios = <&gpio1 8 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
      label = "OUT4";
    };
  };

  nfc {
    compatible = "gpio-keys";
    nfc_irq: irq {
      // In the default configuration (IRQPushPull bit of DivIEnReg is set to 0),
      // pin IRQ is an open-drain output pin.
      gpios = <&gpio1 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "NFC IRQ";
    };

    rx_beeper: rx {
      gpios = <&gpio1 9 0>;
      label = "Beeper";
    };
  };

  aliases {
    mfrc522-spi = &spi3;
    mfrc522 = &mfrc522;
  };
};