/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "board-pinctrl.dtsi"

/ {
	model = "Lock v0.1 board";
	compatible = "aeremin,lock";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	aliases {
		eeprom = &eeprom;
		eeprom-en = &eeprom_en;
	};

	test {
		compatible = "gpio-keys";
		led_r: led_r {
			gpios = <&gpio1 15 GPIO_ACTIVE_LOW>;
			label = "Red LED";
		};

		led_g: led_g {
			gpios = <&gpio1 13 GPIO_ACTIVE_LOW>;
			label = "Green LED";
		};

		led_b: led_b {
			gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
			label = "Blue LED";
		};
	};

	power_control {
		compatible = "gpio-keys";
		led_en: led_en {
			gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
			label = "LED voltage stabilizer";
		};

		eeprom_en: eeprom_en {
			gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
			label = "EEPROM power";
		};

		pill_en: pill_en {
			gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
			label = "Pill power";
		};
	};

	buttons {
		compatible = "gpio-keys";
		reed_switch: reed_switch {
			gpios = <&gpio1 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "CC1101 GD0";
		};

		button_sw1: button_sw1 {
			gpios = <&gpio0 31 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "First button";
		};

		button_sw2: button_sw2 {
			gpios = <&gpio0 29 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Second button";
		};
	};

	keyboard {
		compatible = "gpio-keys";
		in1: in1 {
			gpios = <&gpio1 1 0>;
			label = "IN1";
		};

		in2: in2 {
			gpios = <&gpio1 2 0>;
			label = "IN2";
		};

		in3: in3 {
			gpios = <&gpio1 4 0>;
			label = "IN3";
		};

		out1: out1 {
			gpios = <&gpio1 6 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "OUT1";
		};

		out2: out2 {
			gpios = <&gpio0 9 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "OUT2";
		};

		out3: out3 {
			gpios = <&gpio0 10 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "OUT3";
		};

		out4: out4 {
			gpios = <&gpio1 7 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "OUT4";
		};
	};
};

&adc {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&uart0 {
	status = "okay";
	compatible = "nordic,nrf-uart";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

// EEPROM
// Needs power on eeprom_en
&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;

	// Datasheet: https: //datasheet.lcsc.com/lcsc/1811151428_BL-Shanghai-Belling-BL24C256A-SFRC_C110276.pdf
	eeprom: eeprom@50 {
		compatible = "atmel,at24";
		// 1010 (type identifier code) 000 (A0-A2 pins are connected to the ground)
		reg = <0x50>;
		label = "EEPROM";
		size = <DT_SIZE_K(32)>;
		pagesize = <64>;
		address-width = <16>;
		timeout = <3>;
	};
};

&flash0 {
	/*
	 * For more information, see:
	 * http: //docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x0000C000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000C000 0x00067000>;
		};
		slot1_partition: partition@73000 {
			label = "image-1";
			reg = <0x00073000 0x00067000>;
		};
		scratch_partition: partition@da000 {
			label = "image-scratch";
			reg = <0x000da000 0x0001e000>;
		};

		/*
		 * The flash starting at 0x000f8000 and ending at
		 * 0x000fffff is reserved for use by the application.
		 */

		/*
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 0x00008000>;
		};
	};
};
